%div.intro
  %div.myhero
    %div.row-fluid
      %div.span3
      %div.span6
        %div#home-welcome
          %h1 Welcome to Studium!
        %div.carousel.slide#home-slide
          %div.carousel-inner
            %div.item.active
              = image_tag("images/homepage/stats.jpg")
              %div.carousel-caption
                %h4 Personalized statistics
                %p Study smarter not harder by focusing on your weaknesses
            %div.item
              = image_tag("images/homepage/rooms_join.jpg")
              %div.carousel-caption
                %h4 Study with your friends
                %p Studying has never been this fun before!
            %div.item
              = image_tag("images/homepage/rooms_index.jpg")
              %div.carousel-caption
                %h4 Join the next revolution!
                %p
          %a.carousel-control.left{"href" => "#home-slide", "data-slide" => "prev"} &lsaquo;
          %a.carousel-control.right{"href" => "#home-slide", "data-slide" => "next"} &rsaquo;
        :javascript
          $('carousel').carousel();
        %div#home-description
          =link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), {class: "btn btn-primary btn-large", id: "facebook_login"}
          =link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), {class: "btn btn-primary btn-large"}
        %div#facepile.text-center
      %div.span2
%div.row-fluid#home-quote
  %div.span6
    %blockquote
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies mi nec turpis viverra eget cursus erat posuere.
      %small Bill Gates
  %div.span6
    %blockquote
      %p Donec nec lectus eu lorem dictum pulvinar eget non lorem. Nam aliquam magna eu libero convallis vitae vulputate felis malesuada. Pellentesque porta sem non diam.
      %small Mark Zuckerberg
