/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

.navbar.navbar-fixed-top{
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.35);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.35);
  background-color: whiteSmoke;
}

.navbar .brand strong{
  color: #005580;
  font-size: 30px;
}

.navbar .brand i{
  color: #005580;
  font-size: 20px;
}

.header-link a{
  text-decoration: none;
  text-transform: uppercase;
  font-family: "sofiapro-medium",Arial,sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
}

.header-link li:hover{
  background-color: #DDD;
  color: #888; 
}

.container-fluid{
  padding-top: 10px;
}

